.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.contaier-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  margin-right: 36px;
  border: none;
  background: none;
  background-color: none;
  color: #e8e8e8;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
}

.login:active {
  opacity: 0.5;
}

.list-film {
  color: #fff;
  text-align: left;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 200% */
  margin-top: 50px;
}

.card {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
