.slider-box {
  margin-top: 30px;
  width: 1081px;
  height: 437px;
  border-radius: 20px;
}

.tumbnail {
  width: 1081px;
  height: 437px;
}

.title {
  display: flex;
  justify-content: center;
}

.dead {
  color: #a52620;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 100% */
}

.pool {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
}

.price {
  color: #cd2e71;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 266.667% */
}

.godzilla {
  color: #1a1ab3;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 100% */
}

.vs {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  margin: 0 10px 0 10px;
}

.kong {
  color: #a52620;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 100% */
}
