.title {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 70px 0 49px 90px;
}

.container-list {
    display: flex;
}

.thumbnail {
  width: 180px;
  height: 250px;
  border-radius: 5px;
  margin: 10px;
}
